<html>
    <head><title>Hello</title>

       <meta name="viewport" content="width=device-width,intial-scale=1">

      <link rel="stylesheet" type="text/css" href="../public/.css/style.css">  
      <link rel="stylesheet" type="text/css" href="../public/.css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="../public/.css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="../public/.css/bootstrap.min.css.map">
      <link rel="stylesheet" type="text/css" href="../public/.css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../public/.css/bootstrap-theme.css">
      <link href="https://fonts.googleapis.com/css?family=Mali&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap" rel="stylesheet">
      <link href="../public/fonts/FjallaOne-Regular.ttf" rel="stylesheet">
      
    </head>
    <style>
       .jumbotron{
          background-color: white
       }
      
    
    </style>
    <body>
    <div class="row">
             <!-- <div class="col-md-6  col-sm-6  "> 
                 <div class="jumbotron">Hello Bootstrap</div>
             </div>
            
    <div class="col-md-6  col-sm-6">
            <div class="jumbotron">Hello Bootstrap</div>
        </div>

           
</div>

         </div>-->
         <div class="container">
                      <div class="row">
                <div class="col-md-6  col-sm-12  ">
                        <img src="../public/image/blue.jpeg">
         </div>

         <div class="col-md-6  col-sm-12">
                <div class="jumbotron"; ><p style="font-family: 'Fjalla One', sans-serif;">A flower, sometimes known as a bloom or blossom, is the reproductive structure found in flowering plants (plants of the division Magnoliophyta, also called angiosperms). The biological function of a flower is to effect reproduction, usually by providing a mechanism for the union of sperm with eggs. Flowers may facilitate outcrossing (fusion of sperm and eggs from different individuals in a population) or allow selfing (fusion of sperm and egg from the same flower). Some flowers produce diaspores without fertilization (parthenocarpy). Flowers contain sporangia and are the site where gametophytes develop. Many flowers have evolved to be attractive to animals, so as to cause them to be vectors for the transfer of pollen. After fertilization, the ovary of the flower develops into fruit containing seeds.</p></div>

            </div>
            </div>
            <br>
            <br>
              
            <div class="row">
            <div   class="col-md-6  col-sm-12">
                    <div class="jumbotron" style="font-family: 'Roboto', sans-serif;">A flower, sometimes known as a bloom or blossom, is the reproductive structure found in flowering plants (plants of the division Magnoliophyta, also called angiosperms). The biological function of a flower is to effect reproduction, usually by providing a mechanism for the union of sperm with eggs. Flowers may facilitate outcrossing (fusion of sperm and eggs from different individuals in a population) or allow selfing (fusion of sperm and egg from the same flower). Some flowers produce diaspores without fertilization (parthenocarpy). Flowers contain sporangia and are the site where gametophytes develop. Many flowers have evolved to be attractive to animals, so as to cause them to be vectors for the transfer of pollen. After fertilization, the ovary of the flower develops into fruit containing seeds.</div>
    
                </div>

                
                        <div class="col-md-6  col-sm-12  ">
                                <img src="../public/image/blue.jpeg">
                 </div>
                 </div>
</div>
  
<div class="row">
    <div class="col-md-2 col-md-offset-2">
            <img src="../public/image/images.jpg ">
    </div>
      

    <div class="col-md-2 col-md-offset-4"> 
            <img src="../public/image/images.jpg">
    </div>

</div>
<br>
<br>
<div class="col-md-6 col-md-offset-3 jumbotron">

    <p style="background-color: violet; font-family: 'Mali', cursive; ">
            A flower, sometimes known as a bloom or blossom, is the reproductive structure found in flowering plants (plants of the division Magnoliophyta, also called angiosperms). The biological function of a flower is to effect reproduction, usually by providing a mechanism for the union of sperm with eggs. Flowers may facilitate outcrossing (fusion of sperm and eggs from different individuals in a population) or allow selfing (fusion of sperm and egg from the same flower). Some flowers produce diaspores without fertilization (parthenocarpy). Flowers contain sporangia and are the site where gametophytes develop. Many flowers have evolved to be attractive to animals, so as to cause them to be vectors for the transfer of pollen. After fertilization, the ovary of the flower develops into fruit containing seeds.

    </p>
</div>
</div>

<div>
    <span class="glyphicon glyphicon-user">user </span>
</div>


        
      
    </body>
</html>